<h1>Listing products</h1>

<table>
  <tr>
    <th>Название</th>
    <th>Год</th>
    <th>Описание</th>
    <th>Диагональ</th>
    <th>Операционная система</th>
    <th>Оперативная память</th>
    <th>Доступная память</th>
    <th>Частота процессора</th>
    <th>Количество ядер</th>
    <th>Разрешение экрана</th>
    <th>Камера</th>
    <th>Время работы</th>
    <th>Image url</th>
    <th>Цена</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @products.each do |product| %>
  <tr>
    <td><%= product.title %></td>
    <td><%= product.god %></td>
    <td><%= product.description %></td>
    <td><%= product.diagonal %></td>
    <td><%= product.os %></td>
    <td><%= product.op %></td>
    <td><%= product.volume %></td>
    <td><%= product.chastota %></td>
    <td><%= product.core %></td>
    <td><%= product.resolution %></td>
    <td><%= product.camera %></td>
    <td><%= product.time %></td>
    <td><%= product.image_url %></td>
    <td><%= product.price %></td>

    <td><%= link_to 'Просмотреть', product %></td>
    <% if can? :update, product %>
    <td><%= link_to 'Изменить', edit_product_path(product) %></td>
    <%end%>
    <% if can? :destroy, product %>
    <td><%= link_to 'Удалить', product, :method => :delete, :data => { :confirm => 'Вы уверены?' } %></td>
    <%end%>
  </tr>
<% end %>
</table>

<br />
<% if can? :create, Product %>
<%= link_to 'New Product', new_product_path %>
<%end%>